APP_ENV=local
APP_DEBUG=true
DB_CONNECTION=mysql

DB_HOST=db
DB_DATABASE=test
DB_USERNAME=user
DB_PASSWORD=1
DB_PORT=3306

MYSQL_ROOT_PASSWORD=root

QUEUE_CONNECTION=database

SEED_USER_PASSWORD=123456

YII_DEBUG=true
YII_ENV=dev

USER_ID=1001
GROUP_ID=1001

SEED_USERS=10
SEED_USER_PASSWORD=1
SEED_ALBUMS_PER_USER=10
SEED_PHOTOS_PER_ALBUM=10
SEED_ENABLED=true